html{
   /* padding-left: 100px; */

    
}

h1{
    color: white;
    font-family: tahoma, Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-shadow: 2px 2px black;
}

h2,h3{
    font-size: 24px;
    color: black;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

body {
    font-family: tahoma, Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(assets/background.jpg);
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    margin: 2em;
}

.content{
    font-size: 12px;
    background: white;
    padding: 5px 10px; 
    border-top-right-radius: 4px;
    width: 700px;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.router-link-active {
    background: white;
}

.footer{
    width: 700px;
    background: white;
    padding: 5px 10px; 
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    font-size: 10px;
    text-align: right;
    font-family: tahoma;
}

.login-form{
    color: white;
    text-shadow: 1px 1px black;
    font-family: tahoma;
}
.askWatsonBox, .addQuestionBox{
    width: 100%
    
}

.ask_watson_question, .ask_watson_answer
{
    position: relative;
    padding: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;

}

@keyframes example {
    0%   {background-color: orange;}
    50%  {background-color: yellow;}
    100%   {background-color: orange;}
}

.ask_watson_question{
    background-color: orange;
}

.ask_watson_answer
{
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
