<div class="content">
    <h3>Welcome</h3>
    <div class='entry'>
        <i>Marvel QA</i> is a student project organized by the <i>Language Technology</i> group of the <i>Computer Sience Department</i> in <i>TU Darmstadt</i>. The goal of <i>Marvel QA</i> is to develop a web-based application that utilizes the <i>IBM Watson Question answering system</i>. 
    This project was developed by <i>Wei-Hung Hsu</i>, <i>Erich Wittenbeck</i> and <i>Khine Htwe</i>.

    </div>
    
    <h3>Introduction</h3>
    <div class='entry'>     
    <i>Ask Watson</i> uses <i>IBM Watson Question answering system</i> to answer questions regarding the <i>Marvel Cinematic Universe</i>. The data set that was used for the training was extracted from the <a target='_blank' href='http://marvelcinematicuniverse.wikia.com/wiki/Marvel_Cinematic_Universe_Wiki'>Marvel Cinematic Universe Wikia</a>. To enter a question, simply type in a question into the text box and press enter. <i>Add Questions</i> allows users to add their own questions to the <i>Marvel Quiz</i>. The quiz utilizes <i>IBM Watson Question answering system</i> to generate possible answers. The answers are further specified through entity recognition. 
    </div>

    

    <h3>How it works</h3>
    <div class='entry'>     
    <center><img src='./assets/angular2.png' style="width:12%"></center><br>
    The front-end was developed using Angular2. "AngularJS is a complete JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications." <sup>1</sup>

    <br><br>
    <center><img src='./assets/tomcat.png' style="width:15%"></center><br>
    For the back-end, which is responsible for the data processing, and the access of data-base, we used Tomcat. "Apache Tomcat, often referred to as Tomcat, is an open-source web server developed by the Apache Software Foundation (ASF). Tomcat implements several Java EE specifications including Java Servlet, JavaServer Pages (JSP), Java EL, and WebSocket, and provides a "pure Java" HTTP web server environment in which Java code can run."<sup>2</sup>
    <br><br>    
        
   
        
    </div>
    
    
    <h3>References</h3>
    <div class='entry'>      
    1. <a href = 'https://en.wikipedia.org/wiki/AngularJS' target='_blank'>https://en.wikipedia.org/wiki/AngularJS</a><br>
    2. <a href = 'https://en.wikipedia.org/wiki/Apache_Tomcat' target='_blank'>https://en.wikipedia.org/wiki/Apache_Tomcat</a><br>
    </div>
</div>